:root {
	--primary-color: #FBFBFB;
	--secondary-color: #E3F5ED;
	--link-color: #32B67A;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	color: #424242;
	font: 16px/1.5 "Consolas", monospace;
	padding: 0 40px;
}

h1 {
	letter-spacing: -0.8px;
}

p {
	line-height: 29px;
	margin: 0 0 10px;
}

a,a:visited {
	color: var(--link-color);
}

img {
	width: 100%;
}

hr {
	background: rgba(0,0,0,0.1);
	border: 0;
	height: 1px;
	margin: 20px 0;
	width: 100%;
}

canvas {
	margin: 40px 0;
}

.marginnote {
	font-size: 80%;
	font-style: italic;
}

small {
	display: block;
	font-size: 90%;
	width: 100%;
}

ul,ol {
	line-height: 29px;
	margin: 0 0 20px;
}

figure {
	margin: 0 0 10px 0;
}

pre {
	background: rgba(0,0,0,0.05);
	overflow: auto;
	padding: 10px;
}

table {
	border-collapse: collapse;
	display: table;
	margin: 2em 0;
	width: 100%;
}
table tr,
table td {
	text-align: left;
}
table tr {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
table td,
table th {
	padding: 10px;
}

.container {
	max-width: 740px;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	margin-right: 20px;
}

.post-item {
	align-items: center;
	background: var(--primary-color);
	border-bottom: 2px solid rgba(0,0,0,0.05);
	color: #2d2d2d !important;
	counter-increment: post;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	transition: .3s ease all;
}
.post-item:before {
	background: rgba(0,0,0,0.05);
	border-left: 3px solid transparent;
	content: counter(post);
	display: flex;
	font-weight: bold;
	padding: 10px 20px;
    position: relative;
}
.post-item:hover {
	background: var(--secondary-color);
	border-bottom: 2px solid rgba(0,0,0,0.1);
	transform: scale(1.05);
	z-index: 2;
}
.post-item:hover:before {
	background: rgba(0,0,0,0.1);
	border-color: var(--link-color);
	color: var(--link-color);
}
.post-item h2 {
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding: 10px 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: 768px) {
	body {
		padding: 0 10px;
	}
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0 0 20px;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}


