<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <title>{{ title }} | {{ metadata.title }}</title>
  <link rel="icon" href="{{ metadata.siteUrl }}/static/images/favicon.png" type="image/png">
  {% if description %}
    <meta name="description" content="{{ description | safe }}">
  {% endif %}
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {# An optional javascript pipeline; outputs minified JS into <head>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
  #}
</head>
